Repository H37kouya/miya-meshi, pull requests merged in 2021-01, with the labels that each got.

#183 feat firebaseKeywordを保存できるようにした
  backend/app/Http/Controllers/Api/Admin/Shop/RegisterShopController.php
  backend/app/Http/Controllers/Api/Admin/Shop/UpdateShopController.php
  backend/app/Http/Requests/Api/Admin/Shop/RegisterShopFormRequest.php
  backend/app/Http/Requests/Api/Admin/Shop/UpdateShopFormRequest.php
  backend/app/Models/FirebaseKeywords.php
  backend/app/Models/Shop.php
  backend/app/Usecases/ConnectShopAndFirebaseKeywordUsecase.php
Labels: backend

#187 Chore コマンドの追加とドキュメント整備
  .docs/api-document-admin.yaml
  .node-version
  README.md
  admin/.node-version
  admin/lib/types/backend/RegisterSelectionPostFormRequest.ts
  admin/lib/types/backend/RegisterShopFormRequest.ts
  admin/lib/types/backend/RegisterShopMenuFormRequest.ts
  admin/lib/types/backend/UpdateSelectionPostFormRequest.ts
  admin/lib/types/backend/UpdateShopFormRequest.ts
  admin/lib/types/backend/UpdateShopMenuFormRequest.ts
  backend/app/Console/Commands/GenerateRequestTypeForTs.php
  backend/app/Console/Commands/args/ReplaceTogetherArg.php
  backend/app/Http/Requests/Api/Admin/SelectionPost/RegisterSelectionPostFormRequest.php
  backend/app/Http/Requests/Api/Admin/SelectionPost/UpdateSelectionPostFormRequest.php
  client/.node-version
Labels: admin, backend

#186 dishを追加した
  backend/app/Enum/PeriodOfTime.php
  backend/app/Http/Controllers/Api/Admin/Shop/RegisterShopController.php
  backend/app/Http/Controllers/Api/Admin/Shop/UpdateShopController.php
  backend/app/Http/Controllers/Api/Client/Shop/FetchInstaController.php
  backend/app/Http/Requests/Api/Admin/Shop/RegisterShopFormRequest.php
  backend/app/Http/Requests/Api/Admin/Shop/UpdateShopFormRequest.php
  backend/app/Models/FirebaseDishes.php
  backend/app/Models/Shop.php
  backend/app/Repositories/CreateShopRepository.php
  backend/app/Usecases/ConnectShopAndFirebaseDishUsecase.php
  backend/app/Usecases/ConnectShopAndFirebaseKeywordUsecase.php
  backend/database/migrations/2020_12_07_183313_create_shop_information_table.php
Labels: backend

#189 Feature/fetch insta
  backend/app/Http/Controllers/Api/Client/Shop/FetchInstaController.php
  backend/app/Models/Shop.php
  backend/app/Models/ShopInformation.php
  backend/routes/api.php
Labels: admin, backend, backend-composer-json, client

#190 feat 店舗一覧の作成
  admin/.node-version
  admin/package-lock.json
  admin/test/lib/enum/api/ContentMode.spec.ts
  admin/test/lib/enum/api/DisplayMode.spec.ts
  admin/test/lib/enum/api/PeriodOfTime.spec.ts
  admin/test/lib/enum/api/PrefCode.spec.ts
  admin/test/lib/enum/api/PriceRange.spec.ts
  backend/app/Enum/PeriodOfTime.php
  backend/app/Http/Controllers/Api/Client/Shop/SearchShopController.php
  backend/app/Http/Requests/Api/Client/Shop/SearchShopFormRequest.php
  backend/app/Models/Shop.php
  backend/app/Models/ShopInformation.php
  backend/app/Usecases/ArgObjects/SearchShopArgObjects.php
  backend/app/Usecases/Client/SearchShopsUsecase.php
  backend/bootstrap/cache/.gitignore
  backend/composer.json
  backend/composer.lock
  backend/database/factories/ShopInformationFactory.php
  backend/database/seeds/ShopSeeder.php
  backend/routes/api.php
  backend/routes/web.php
  backend/storage/app/.gitignore
  backend/storage/app/public/.gitignore
  backend/storage/clockwork/.gitignore
  backend/storage/framework/.gitignore
  backend/storage/framework/cache/.gitignore
  backend/storage/framework/cache/data/.gitignore
  backend/storage/framework/sessions/.gitignore
  backend/storage/framework/testing/.gitignore
  backend/storage/framework/views/.gitignore
  backend/storage/logs/.gitignore
  backend/storage/tests/AdminSelectionPost.http
  backend/storage/tests/AdminShop.http
  backend/storage/tests/AdminShopMenu.http
  backend/storage/tests/SelectionPost.http
  backend/storage/tests/UserRequest.http
  client/.node-version
  client/package-lock.json
Labels: admin, admin-packge-json, backend, backend-composer-json, client, client-package-json

#191 chore update composer pakage
  .github/workflows/backend.yml
  backend/composer.lock
Labels: backend, backend-composer-json
